<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">This is me!</h3>
                </div>
                <img class="img-circle img-responsive" id="headshot" src="img/headshot.jpg" alt="Picture of me!">
                <div class="about">
                    <p class="subheading"> Hi there! I'm Sebastian, a Junior Computer Science Major at Pomona College.</p>
                    <p class="subheading">
                    I was a chemistry major my first 2 years, until I realized how much I love computer science! I decided to switch my major to CS, and will graduate with a B.A. in Computer Science, minoring in Chemistry and Math.</p>

                    <p class="subheading"> As a <a href="http://www.code2040.org/">Code2040</a> Finalist, I am passionate about bridging the gap in the tech industry for underepresented groups and hope to be a part of changing the demographic within. </p>

                    <p>In my spare time, I enjoy working on personal projects, volleyball, ballroom dance, and being at the beach. My resume is linked above. You can also find my contact information (and other links) below.</p>
                </div>
            </div>
        </div>
    </section>