  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4">
                    <span class="copyright"> Made with <span class="emoji">☕</span> and <span class ="emoji" style="color: #ff3333;font-size:1.5em">♥</span> by Sebastian Cevallos
                    </span>
                </div>
            </div>
        </div>
    </footer>
