$content-width: 800px;
$main: #1C32BC;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
/**
 * header = banner background color
 */
$header:  #f9a635;
$grey-color:  #828282;
$red-color:  #D31E1E;
$brand-color:  #2a7ae2;
$spacing-unit:  30px;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }

    &.icon--github:hover {
        path {
            fill: $brand-color;
        }
    }

    &.icon--heart {
        path {
            fill: $red-color;
        }
    }
}